.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: blue;
}
.score{
    color: rgb(7, 0, 0);
    text-align: left;

}

/* attribute selector */
/* Fishes */
 [id = '0']{
    position: absolute;
    width: 80px;
    top: 90px;
    left: 20px;
    transition: left, top, 300ms
}
[id = '1']{
    position: absolute;
    width: 90px;
    top: 50px;
    left: 70px;
    transition: left, top, 600ms
}
[id = '2']{
    position: absolute;
    width: 90px;
    top:200px;
    left: 100px;
    transition:  200ms

}


[id = '3']{
    position: absolute;
    height: 190px;
    top: 20px;
    left: 20px;

    transition: left, top, 300ms
}

/* Fish Transitions */
.movedShark {
    top: 200px;
    left: 200px;
    transition: left, top, 300ms;
}

.movedUp {
    transform: scale(0);
    transition: 200ms
}

.movedB {
    top: -999px;
    left: 20px;
}

.moved {
    top: 200px;
    left: -999px;
    transition: 200ms

}