.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: blue;
}

.fish1{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    top: 90px;
    left: 20px;
    transition: left, top, 300ms
}
.fish2{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    top: 50px;
    left: 70px;
    transition: left, top, 600ms
}
.fish3{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    top:200px;
    left: 100px;
    transition:  600ms

}
.shark{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(147, 3, 3);
    top: 20px;
    left: 20px;
}

.movedShark {
    top: 200px;
    left: 200px;
    transition: left, top, 300ms;
}

.movedUp {
    transform: scale(0);
}

.movedB {
    top: -999px;
    left: 20px;
}

.moved {
    /* background-color: blue; */

    top: 200px;
    left: -999px;
}